* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: block;
    justify-content: center;
}

nav {
    background-color: rgb(34, 7, 7);
    display: flex;              /* 🔥 ตัวหลัก */
    justify-content: space-between; /* แยกซ้าย-ขวา */
    align-items: center;    
    padding: 25px;    /* จัดให้อยู่กลางแนวตั้ง */

    position: sticky;
    top: 0;
}

nav .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;

}


nav .nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-left: 20px;
}

nav .logo {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    font: 1em sans-serif;
}

nav .nav-links {
    align-items: center;
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;

}

.container .content {
    text-align: center;
}


.container .content .btn {
    grid-template-columns: repeat(2, 1fr);
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(34, 7, 7);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.container .content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.H1-W {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 50px;
    justify-content: 25px;
    align-items: center;
    margin-top: 20px;
}

.btn1, .btn2, .btn3, .btn4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 80px;
    background-color: black;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px; /*ขอบโค้ง*/
    font-size: 18px;
    font-weight: bold;

    transition: 0.3s;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
    background-color: #383838;
    transform: translateY(-5px);
}

footer {
    margin-top: 120px;
    background-color: rgb(34, 7, 7);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .footer-content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;     /* เต็มกว้าง */
    height: 100%;    /* เต็มสูง */
    z-index: -1;     /* อยู่ด้านหลัง */
}